{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>      
        <link href="{% static 'todo.css' %}" rel="stylesheet">
        <title>To Do</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <h1>TODO APP</h1>
        </header>
        <section>
            <div class="container">
                <form method="post" action="/addTodo/">{% csrf_token %}
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Add task ..." aria-label="Add task..." aria-describedby="button-addon2" name ="content" required maxlength="100">
                      <button class="btn btn-success" type="submit" name= "submit" id="button-addon2">Add</button>
                    </div>
                </form>
              
    
                <div class="todo">
                    <ul class="list-group">
                        {% for todo_item in all_items %}
                           <li class="list-group-item d-flex justify-content-between align-items-start">
                             <div class="ms-2 me-auto">
                              <div class="fw-bold">{{ todo_item.content }}</div>
                             </div>
                             <form id= "delete" method="post" action="/delTodo/{{ todo_item.id }}/">{% csrf_token %}
                                <button class="btn btn-danger" type="submit" name= "submit" id="button-addon2">Delete</button>
                               </form>
                           </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <footer>
            <p>Designed and built by <a href="http://wa.me/2349038388723" target="_blank">Dapo Adedire</a> in Nigeria</p>
            <p>
                <ul>
                    <li><a href="http://www.twitter.com/dapo_adedire/" target="_blank">Twitter</a></li>
                    <li><a href="http://www.linkedin.com/in/dapoadedire" target="_blank">LinkedIn</a></li>
                    <li><a href="http://www.github.com/dapoadedire/" target="_blank">Github</a></li>
                </ul>
            </p>
        </footer>
    </body>
</html>