{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>      
        <meta name="author",
        content="Dapo Adedire",
        width=device-width,
        initial_scale=1.0, 
        minimum-scale=0.5, 
        maximum-scale=3.0, 
        charset="utf-8", 
        initial-scale=1 />

        <link href="{% static 'todo.css' %}" rel="stylesheet">
        <title>To Do</title>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;373&family=Lato:wght@400&family=League+Spartan:wght@400&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>TODO APP</h1>
        </header>

        <section>
            <div class="add-todo">
                <form method="post" action="/addTodo/">{% csrf_token %}
                    <input type="text" placeholder="" name="content"/>
                    <input type="submit" name="submit" value="Add"/>
                </form>
            </div>

            <div class="todo-list">
                <ul>
                    {% for todo_item in all_items %}
                       {% if todo_item.status == True %}
                       <strike>
                        <li>{{ todo_item.content }}
                            <form method="post" action="/delTodo/{{ todo_item.id }}/">{% csrf_token %}
                                <input type="submit" name="submit" value="Delete"/>
                            </form>
                        </li>
                       </strike>
                       {% else %}
                       <li>{{ todo_item.content }}
                        <form method="post" action="/delTodo/{{ todo_item.id }}/">{% csrf_token %}
                            <input type="submit" name="submit" value="Delete"/>
                        </form>
                       </li>
                       {% endif%}
                    {% endfor %}
                </ul>                
            </div>



        </section>
        <footer>
            <p>Designed and built by <a href="http://wa.me/2349038388723" target="_blank">Dapo Adedire</a> in Nigeria</p>
            <p>
                <ul>
                    <li><a href="http://www.twitter.com/dapo_adedire/" target="_blank">Twitter</a></li>
                    <li><a href="http://www.linkedin.com/in/dapoadedire" target="_blank">LinkedIn</a></li>
                    <li><a href="http://www.github.com/dapoadedire/" target="_blank">Github</a></li>
                </ul>
            </p>
        </footer>
    </body>
</html>